{
  // "presets": [
  //   "./node_modules/babel-preset-react",
  //   "./node_modules/babel-preset-env"
  // ],
  "presets": [
    "./node_modules/@babel/preset-env",
    "./node_modules/@babel/preset-react"
  ],
  "plugins": ["./node_modules/@babel/plugin-proposal-object-rest-spread"]
}
